[include]
  path = ~/.gitconfig.local # add user.name and user.email here

[alias]
  browse = "!fd . --type f --hidden | fzf --preview 'bat --style=header,numbers --color=always {}'"

  last = log -1 HEAD --pretty=fuller
  ll = log --all --decorate --graph --oneline
  today = log --all --graph --oneline --since='midnight' --pretty=format:'%C(yellow)%h%Creset%C(auto)%d%Creset %s %C(cyan)<%an>%Creset %Cgreen(%cr)'

  commits = "!git log --decorate --oneline --color=always | fzf --ansi --preview 'git show --color=always {1} | delta --width=111' --preview-window=right:60%"
  deleted = ls-files --deleted
  modified = "!git ls-files --modified | fzf --preview 'git diff --color=always {} | delta --width=140' --preview-window=right:75%"
  staged = "!git diff --name-only --cached | fzf --preview 'git diff --cached --color=always {} | delta --width=140' --preview-window=right:75%"
  untracked = "!git ls-files --others --exclude-standard | fzf --preview 'bat --style=numbers --color=always {}' --preview-window=right:60%"
  restore-select = "!git ls-files --deleted | fzf --multi --preview 'git show HEAD:{} | bat' --preview-window=right:60% | xargs -r git restore"

  cd = switch
  mkdir = switch -c
  rmdir = branch -d

  uncommit = reset --soft HEAD^
  unstage = reset HEAD --

  discard = reset HEAD --hard
  discardhunk = checkout -p

[color]
  ui = auto

[color "branch"]
  current = green bold
  local = yellow dim
  remote = cyan

[color "status"]
  added = green
  changed = yellow
  untracked = red

[commit]
  template = ~/.gitmessages/default.txt

[core]
  editor = nvim
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  features = hardhat side-by-side line-numbers decorations
  navigate = true

[delta "hardhat"]
    dark = true
    syntax-theme = none

    ## Base UI
    file-style = "#b6c2cc"
    file-decoration-style = "#646f73"

    commit-decoration-style = "#646f73" bold box ul

    hunk-header-style = file line-number syntax
    hunk-header-file-style = bold "#bebebe"
    hunk-header-line-number-style = bold "#86c7e3"
    hunk-header-decoration-style = "#646f73" box ul

    ## Line numbers
    line-numbers-left-style = "#4f5258"
    line-numbers-right-style = "#4f5258"
    line-numbers-zero-style = "#646f73"

    line-numbers-minus-style = bold "#dc483b"
    line-numbers-plus-style = bold "#bcc313"

    ## Diff colors
    minus-style = syntax "#2f2324"
    minus-emph-style = bold syntax "#5a2b2b"

    plus-style = syntax "#2f3624"
    plus-emph-style = bold syntax "#4b5a2b"

    ## Blame
    blame-palette = "#222629 #2a2f33 #181c21 #3d464c #4f5258"

    ## Merge conflict / moved code mapping
    map-styles = \
        bold purple => syntax "#86c7e3", \
        bold blue => syntax "#4ab0d6", \
        bold cyan => syntax "#62c2c6", \
        bold yellow => syntax "#f2cd63"

    ## Misc
    whitespace-error-style = reverse "#dc483b"
    zero-style = syntax "#222629"

[merge]
  conflictStyle = zdiff3
